html, body {
    height: 100%;
}
body {
    position: relative;
    background: #333;
}

.wrapper {
    width: 100%;    
    min-height: 100%;
    max-width: 750px;
    background-color: #fff;
    background-size: cover;
    margin: 0 auto;
    overflow: hidden;
}

.index-title {
    font-size: 24px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: #3f2224;
    background-color: #fee705;
    padding: 20px;
}
.index-title strong {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}

.index-contents {
    padding: 16px;
    font-size: 0;
}
.square {
    display: inline-block;
    width: 100%;
    position: relative;
    margin-top: 16px;
}
.square a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
}
.square p {
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    color: #3f2224;
    transition-duration: .2s;
}
.square:first-of-type {
    margin-top: 0;
}
.square:after {
    content: "";
    display: block;
    padding-bottom: 50%;
    opacity: 0.1;
}
.square:hover::after {
    opacity: 1;
}
.square:hover p {
    opacity: 0;
}
.inner {
    position: absolute;
    width: 100%;
    height: 100%;
}
.square.c1:after {
    background: url(../../images/main/01.jpg) no-repeat;
    background-size: cover;
}
.square.c2:after {
    background: url(../../images/main/02.jpg) no-repeat;
    background-size: cover;
}
.square.c3:after {
    background: url(../../images/main/03.jpg) no-repeat;
    background-size: cover;
}