<!-- membership Header -->
{% macro membershipHeader() %}
<div id="root"></div>
<scritp>
    const e = React.createElememt;

    class MambershipHeader extend React.Component {
        
    }
</scritp>
{% endmacro %}