{% extends "layouts/ui-component.njk" %}

{% import "partials/membership.njk" as membership %}
{# 
{% import "partials/promotion.njk" as promotion %} #}

{% block cssStyles %}
<link rel="stylesheet" href="{{ staticUrl }}/static/css/partials/ui-component.css">
{% endblock %}

{% block javascript %}
<script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
{% endblock %}

<!-- Header -->
{% block membershipHeader %}
{{ membership.membership() }}
{% endblock %}