{% extends "layouts/ui-component.njk" %}

{% import "partials/membership.njk" as membership %}
{# 
{% import "partials/promotion.njk" as promotion %} #}

{% block cssStyles %}
{# <link rel="stylesheet" href="{{ staticUrl }}/static/css/partials/topbar.css">
<link rel="stylesheet" href="{{ staticUrl }}/static/css/partials/promotion.css"> #}
{% endblock %}

{% block javascript %}
<script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
{% endblock %}

<!-- Top Bar -->
{% block membershipHeader %}
{{ membership.membershipHeader() }}
{% endblock %}