<!Doctype html>
<html lang="ko">
<!-- [D] head -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kakaopay Careers Test</title>
    <!-- base css -->
    <link rel="stylesheet" href="{{ staticUrl }}/static/css/layouts/reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- layout css -->
    <link rel="stylesheet" href="{{ staticUrl }}/static/css/layouts/base.css">
    
    {% block cssStyles %}{% endblock %}
</head>

<!-- [D] body -->
<body>
    <div class="app wrapper" style="background-image: url({{ staticUrl }}/static/images/promotion/bg.png);">
        <div class="container">
            {% block sectionTopBar %}{% endblock %}
            {% block sectionTitle %}{% endblock %}
            {% block sectionGMoney %}{% endblock %}
            {% block sectionDesc %}{% endblock %}
            {% block sectionSns %}{% endblock %}

            {% block sectionCoinBottom %}{% endblock %}
            {% block sectionBanner %}{% endblock %}
            {% block sectionNoteInfo %}{% endblock %}

            {% block sectionCoinAnimation %}{% endblock %}
            {% block joinBtn %}{% endblock %}

            {% block sectionDoorTop %}{% endblock %}
            {% block sectionDoorBottom %}{% endblock %}
            {% block forwardBtn %}{% endblock %}

            {# {% block sectionCoinDrop %}{% endblock %} #}
        </div>
    </div>
</body>

</html>