<!Doctype html>
<html lang="ko">
<!-- [D] head -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Promotion Guide</title>
    <!-- base css -->
    <link rel="stylesheet" href="{{ staticUrl }}/static/css/layouts/reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- layout css -->
    <link rel="stylesheet" href="{{ staticUrl }}/static/css/layouts/guide.css">
    <!-- CSS -->
    {% block cssStyles %}{% endblock %}
</head>

<!-- [D] body -->
<body>
    <div class="guide wrapper">
        {% block contents %}{% endblock %}
    </div>
</body>

</html>